# Ignore everything
**

# Allow files and directories
!cpk
!launchers


# YOUR FILES LISTED BELOW THIS LINE (IMPORTANT: PREPEND !)
# ----------------------------------------------------------------------------
